<h1>{{recipe.title}}</h1>
<img ng-src="http://lorempixel.com/800/600/food/" alt="" class="img-responsive" />
<!-- <img ng-src="{{recipe.body.und[0].value}}" alt="" class="img-responsive" /> -->

<!-- <p><img src="http://backonmockup.com/600/600" alt="" class="img-responsive" /></p> -->

<h2>Step 1</h2>
<p>{{recipe.field_step_1}}</p>
<h2>Step 2</h2>
<p>{{recipe.field_step_2}}</p>
<h2>Step 3</h2>
<p>{{recipe.field_step_3}}</p>
    
<div class="row">
    <div class="col-md-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Check as well other recipes...</h3>
        </div>
        <div class="panel-body">
            <div class="col-md-4 well well-sm">
                <h3>Recomm 1</h3>
                <img src="http://baconmockup.com/200/200" alt="" class="img-responsive" />
            </div>
            <div class="col-md-4 well well-sm">
                <h3>Recomm 2</h3>
                <img src="http://baconmockup.com/200/200" alt="" class="img-responsive" />
            </div>
            <div class="col-md-4 well well-sm">
                <h3>Recomm 3</h3>
                <img src="http://baconmockup.com/200/200" alt="" class="img-responsive" />
            </div>
        </div>
    </div>
        
    </div>
</div>