<h1>{{recipe.title}}</h1>
<!-- <img src="http://lorempixel.com/800/600/food/" alt="" class="img-responsive" /> -->
<img ng-src="{{recipe.body.und[0].value}}" alt="" class="img-responsive" />

<p>{{testing}}</p>
<p>{{recipe.field_main_picture.url}}</p>

<div class="row">
    <div class="col-md-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Check as well other recipes...</h3>
        </div>
        <div class="panel-body">
            <div class="col-md-4 well well-sm">
                <h3>Recomm 1</h3>
                <img src="http://placeape.com/200/200" alt="" class="img-responsive" />
            </div>
            <div class="col-md-4 well well-sm">
                <h3>Recomm 2</h3>
                <img src="http://placeape.com/200/200" alt="" class="img-responsive" />
            </div>
            <div class="col-md-4 well well-sm">
                <h3>Recomm 3</h3>
                <img src="http://placeape.com/200/200" alt="" class="img-responsive" />
            </div>
        </div>
    </div>
        
    </div>
</div>